.text-line-through {
    text-decoration: line-through;
    color: #fd0061;
}

.tree-view-container {
    margin-top: 10px;
    border-radius: 0.3%;
    width: 100%;
}

.tree-nav-main-menu-item {
    border-top: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;

}

.tree-nav-main-menu-item:last-child {
    border-bottom: 1px solid #c6c6c6;
}

.tree-nav-main-menu-item-header-container {
    background-color: #F9F9F9;
}

.tree-nav-main-menu-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.tree-nav-main-menu-item-header:hover {
    background-color: #c6c6c6;
}

.tree-nav-main-menu-item-header-left {
    display: flex;
    text-align: center;
}

.tree-nav-main-menu-item-header-left h4 {
    margin-top: 8px;
    font-weight: 400;
    align-items: center;
}

.tree-nav-main-menu-item-header-right a {
    margin-right: 5px;
}

.tree-nav-main-menu-item-header-bottom {
    width: 400px;
    margin-left: 50px;
}

.tree-nav-main-menu-item-header-bottom h4 {
    font-weight: 500;
}

.tree-nav-main-menu-item-header-bottom-item {
    display: flex;
    justify-content: space-between;
}

.tree-nav-menu-item-body {
    padding-left: 50px;
}

/* Menu */

.tree-nav-menu-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-top: 1px dashed #c6c6c6;
}

.tree-nav-menu-item-header:hover {
    background-color: #c6c6c6;
}

.tree-nav-menu-item-header-left {
    text-align: center;
}

.tree-nav-menu-item-header-left h4 {
    margin-top: 8px;
    font-weight: 400;
    align-items: center;
}

.tree-nav-menu-item-header-right a {
    margin-right: 7px;
}

/* Sub menu */

.tree-nav-sub-menu-item-body {
    padding-left: 50px;
}

.tree-nav-sub-menu-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-top: 1px dotted #c6c6c6;
}

.tree-nav-sub-menu-item-header:hover {
    background-color: #c6c6c6;
}

.tree-nav-sub-menu-item-header-left {
    text-align: center;
}

.tree-nav-sub-menu-item-header-left h4 {
    margin-top: 8px;
    font-weight: 400;
    align-items: center;
}

.tree-nav-sub-menu-item-header-right a {
    margin-right: 7px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.tree-nav-module-permission-item-header-right {
    margin-right: 21px;
}